* {
    /* border: 3px solid black; */
    margin: 3px auto;
    padding: 0px auto;
    font-family: sans-serif;
}

.ancient-growth-cypress-logging {
    display: flex;
    width: 33%;
    height: 33%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(255, 0, 0);
}

#date-10-01-1949 {
    width: 65%;
    height: 65%
}

.cypress-oc {
    display: flex;
    width: 40%;
    height: 40%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 0, 0);
    justify-content: center;
}

.cypress-oc-main {
    display: inline;
    width: 32%;
    height: 35%;
    border: 5px solid black;

}

h1 {
    color: red;
    font-size: 40px;
    text-align: center;
    background-color: black;
}

h2 {
    color: red;
    font-size: 55px;
    text-align: center;
    background-color: white;
    text-decoration: bold;

}

h3 {
    color: solid black;
    font-size: 22px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}

h5 {
    font-size: 22px;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: auto;
}

p {

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif, Arial, sans-serif;
    
}

.w3 {

    width: 100%
}

h4 {

    width: 25%;
    height: 25%;
}


/* body{ 
    background: url("./cypresspics/IMG_0920.jpg") no-repeat center fixed;
    background-size: cover;
}*/


ul {
    display: inline;
    list-style-type: none;
    /* width: 300px; */
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    justify-content: right;
    
    }

    li a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 5px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    width: 300px;
    justify-content: center;
    }

    /* Change the link color on hover */
    li a:hover {
    background-color: rgb(25, 255, 5);
    color: rgb(0, 0, 0);
    margin: 0;
    }

.hr {
    border: 3px solid red;
}